/* Global field properties */
.field {
    width: 100%;
    height: 100%;
}

.field-item {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

/* Gym properties */
.gym {
    height: 100%;
}
.gym-field {
    border: 30px solid red;
    background-color: #FBEFD7;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}
