.tabs-list {
    display: flex;
    list-style-type: none;
}

.tabs-list-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
    transform: skewX(-16deg);
    margin: 0 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.tabs-list-item p {
    transform: skewX(16deg);
}

.tabs-list-item.active {
    background-color: white;
    color: black;
}
.tabs-list-item:hover {
    background-color: white;
    color: black;
}