.medals {
    display: flex;
    padding: 2rem;
}

.medals-item {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.medals-item > img {
    width: 8rem;
    height: 8rem;
}
.medals-number {
    font-size: 5rem;
    margin: 0 2rem;
    font-weight: bold;
}

/* Specials */
.athletic-field .medals-number {
    color: #ffffff;
}

@media (max-width: 1200px) {
    .medals-item {
        margin-right: 2rem;
    }
    .medals-item > img {
        width: 4rem;
        height: 4rem;
    }
    .medals-number {
        font-size: 3rem;
        margin: 0 1rem;
    }
}
@media (max-width: 600px) {
    .medals-item {
        margin-right: 1rem;
    }
    .medals-item > img {
        width: 2rem;
        height: 2rem;
    }
    .medals-number {
        font-size: 2rem;
        margin: 0 0.5rem;
    }
}