.card {
    display: flex;
    transform: skewX(-16deg);
    width: min-content;
    padding: 2rem;
    cursor: pointer;
}

.card-year,
.card-content {
    background-color: white;
    transform: skewX(-16deg);
}

.card-year p,
.card-title {
    font-size: 2rem;
    transform: skewX(16deg);
    margin: 0.5rem 1rem;
}

.card-year {
    transform: skewX(-16deg) translateX(4rem);
}

.card-content {
    transform: skewX(-16deg) translateX(-4rem);
}


.card-image {
    border-radius: 50%;
    margin: 1rem 4rem;
}

.card-image img {
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: skewX(16deg);
}

.card-bg {
    background-color: rgb(212, 212, 212);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease-in-out;
}
.card-bg:hover {
    transform: skewX(-16deg) scale(1.1);
    z-index: 9;
}