html,
body,
#root,
.home
{
    height: calc(100% - 2rem);
}

.home {
    overflow: hidden;
}

.home-body {
    height: calc(98.1% + var(--header-height));
    width: 100%;
    display: flex;
    margin-top: calc(var(--header-height) * -1);
    z-index: 1;
}

.home-background {
    background: url('../../assets/background-1.png') 100% 100% no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60vw;
    height: 100%;
    margin-left: auto;
}

.home-title {
    font-size: 5rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: transparent;
    max-width: 40vw;
}

/* Panels */
.home-panel {
    position: absolute;
    transform: skew(-16deg) translateX(20vw);
    transition: transform .5s .2s ease-out;
}
.enter .home-panel {
    transform: skew(-16deg) translateX(0);
}
.home-panel-gray {
    background-color: #f1f1f1;
    width: 50vw;
    height: 100%;
    z-index: 2;
    left: -20vw;
}
.home-panel-white {
    background-color: white;
    width: 60vw;
    height: 100%;
    z-index: 1;
    left: 0;
    transition-delay: .25s;
}

@media (max-width: 600px) {
    .home-title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 2.8rem;
        margin: 2rem;
    }
    .home-background {
        margin-left: 0;
        width: 100%;
    }
    .enter .home-panel,
    .home-panel {
        transform: skewX(0deg);
        width: 100%;
        height: 10rem;
        bottom: 0;
    }
    .home-panel-gray {
        display: none;
    }
}